<template>
    <!-- The Modal -->
    <div class="modal" id="addPeopleModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{langText.Addmorepeople}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{langText.Addtogroup}}</label>
                        <select id="slAddPeople" style="width: 100%" multiple></select>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{globalLang.Close}}</button>
                    <button type="button" class="btn btn-primary" @click="addPeople">{{langText.AddPeople}}</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    const ADD_PEOPLE_MODAL = "#addPeopleModal";
    const SL_ADD_PEOPLE = "#slAddPeople";

    export default {
        name: "AddPeopleComponent",
        data() {
            return {
                langText: langText,
                globalLang: globalLang,
                group_id: "",
                afterSuccess: null,
            }
        },
        methods: {
            open(group_id, afterSuccess) {
                this.group_id = group_id;
                this.afterSuccess = afterSuccess;
                $(SL_ADD_PEOPLE).unsetValueSelect2();
                $(ADD_PEOPLE_MODAL).modal('show');
            },
            addPeople() {
                var users = $(SL_ADD_PEOPLE).val();
                if (_.isArray(users) === false || users.length <=0) {
                    BeDoneToaster.error(langText.please_choose_at_least_a_user);
                    return;
                }

                // ok add
                var self = this;
                BeDoneAjax.post(base_api + "chat/chat_room/group_member/" + this.group_id, {users: users})
                    .done(data => {
                        if (data !== null) {
                            if (data.error) {
                                BeDoneToaster.error(data.error);
                            } else {
                                BeDoneToaster.success(data.success);
                                $(ADD_PEOPLE_MODAL).modal('hide');
                                self.afterSuccess(data.data);
                            }
                        } else {
                            BeDoneToaster.error(langText.action_failed);
                        }
                    })
                    .fail(err => {
                        BeDoneToaster.error(langText.action_failed);
                    });
            }
        },
        mounted() {
            $(SL_ADD_PEOPLE).customSelect2(listUsers);
        }
    }
</script>

<style scoped>

</style>