<template>
    <div class="row">
        <div class="col-md-12 main-room">
            <div class="media border chatroom clickable" @click="selectRoom(room)"
                 style="padding: 10px; user-select: none;" :class="{'active': selected}">
                <img :src="get_profile_image(room.ProfileImage)" :alt="room.Name"
                     class="mr-3 rounded-circle room-avatar">

                <div class="media-body">
                    <p class="room-title">{{room.Name}}</p>
                    <p class="ellipsis">{{ room.LastActivityMessage | truncate(50) }}</p>
                </div>

            </div>

            <div class="top-right">
                <small>{{room.LastActivityDate}}</small>
                <div class="dropdown text-right">
                    <i class="fa fa-cog clickable room-action" data-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li class="dropdown-item clickable" @click="archiveMess(room)">{{archiveText}}</li>
                        <li class="dropdown-divider" v-if="room.IsGroupChat"></li>
                        <!--<li class="dropdown-item clickable color-danger">{{deleteText}}</li>-->
                        <li class="dropdown-item clickable color-danger" v-if="room.IsGroupChat" @click="leaveGroup(room)">{{leaveGroupText}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {MessageHelper} from "../common/helper";

    export default {
        name: "ChatRoomComponent",
        props: ['room', 'selected', 'archive-text', 'delete-text', 'leave-group-text'],
        methods: {
            get_profile_image: function(img)
            {
                if (typeof img === "undefined"|| img === ""  || img === null) {
                    if (this.room.IsGroupChat === true) {
                        return base + "img/groups.png";
                    } else {
                        return base + "img/default-avatar.png";
                    }
                }
                else {
                    return base + this.room.ProfileImage;
                }
            },
            selectRoom(data) {
                this.$parent.$emit('OpenChat', data);
            },
            archiveMess(room) {
                var self = this;
                MessageHelper.archiveMess(room.ID, function () {
                    self.$parent.$emit('LeaveAndArchive', room.ID);
                });
            },
            leaveGroup(room) {
                var self = this;
                MessageHelper.leaveGroup(room.GroupInfo.ID, function () {
                    self.$parent.$emit('LeaveAndArchive', room.ID);
                });
            }
        },
    }
</script>

<style scoped>
.chatroom, .main-room {
    position: relative;
}
.ellipsis {
    font-size: 14px;
}
.chatroom:hover {
    background-color: #ecf0f1;
}

.chatroom:active {
    background-color: #bdc3c7;
}
.chatroom.active {
    background-color: #ecf0f1;
}
.media-body h4 {
    margin: 0;
    padding-top: 10px;
}
.top-right {
    padding-right: 15px;
    position: absolute;
    top: 15px;
    right: 10px;
    color: rgba(0, 0, 0, .40);
    user-select: none;
}
.color-danger {
    color: #e74c3c;
}
.room-avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.main-room .dropdown {
    display: none;
}
.main-room:hover .dropdown {
    display: block;
}

    .room-title {
        padding-top: 10px;
        font-size:16px;
        width: 65%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>