<template>
    <div>
        <div class="w-100 text-center" v-if="isSystemMess()">
            <p class="system-message">
                {{message.Message}}
            </p>
        </div>
        <div class="chat-message-main row" v-else :class="{'float-right': isCurrentUser(), 'float-left': !isCurrentUser()}">
            <div class="col-xs-1" v-if="!isCurrentUser()">
                <img :src="profile_image(message.ProfileImage)"
                     class="chat-avatar rounded-circle"
                     data-toggle="tooltip"
                     :title="message.CreatedByName"
                     :alt="message.CreatedByName">
            </div>

            <div class="col-xs-11">
                <div class="chat-mess-body" data-toggle="tooltip" :title="getMessDate(message.CreatedDateTimestamp)"
                     :class="{'reply': isCurrentUser(), 'send': !isCurrentUser(), 'no-padding': !isTextMess()}">
                    <!-- Show text -->
                    <p v-if="isTextMess()">{{message.Message}}</p>

                    <!-- Show image -->
                    <a :href="attachment(message.Source)" data-featherlight v-if="isImageMess()">
                        <img :src="attachment(message.Source)"
                             @load="imgLoad"
                             class="img-fluid chat-image" />
                    </a>
                </div>
            </div>

            <div class="col-xs-1" v-if="isCurrentUser()">
                <img :src="profile_image(message.ProfileImage)"
                     class="chat-avatar rounded-circle"
                     data-toggle="tooltip"
                     :title="message.CreatedByName"
                     :alt="message.CreatedByName">
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</template>

<script>
    export default {
        name: "ChatMessageComponent",
        props: ['message', 'index'],
        data() {
            return {
                langText: langText,
                CurrentUserID: LoggedUserID
            }
        },
        methods: {
            isSystemMess() {
                return this.message.Type === 'system';
            },
            isTextMess() {
                return this.message.Type === 'text';
            },
            isImageMess() {
                return this.message.Type === 'image';
            },
            isCurrentUser() {
                return this.message.CreatedByID === this.CurrentUserID;
            },
            profile_image(img) {
                if (typeof img === "undefined" || img === null || img === "") {
                    return base + "img/default-avatar.png";
                } else {
                    return base + img;
                }
            },
            attachment(img) {
                return base + img;
            },
            getMessDate(date) {
                return moment(date * 1000).format("D MMM YYYY HH:mm");
            },
            imgLoad() {
                if (this.$parent.chatInfo.start !== 0) {
                    return;
                }
                // allow to scroll
                this.$parent.scrollChatBottom();
            }
        },
        mounted() {
            $("#chatMessageContainer [data-toggle='tooltip']").tooltip();
        }
    }
</script>

<style scoped>
    .system-message {
        font-size: 14px;
        color: silver;
    }

    .chat-avatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    .chat-message-main {
        padding: 5px;
        margin:0;
    }
    .chat-mess-body {
        margin: 0 10px;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 10px;
    }
    .chat-mess-body.no-padding{
        padding: 0;
    }
    .chat-mess-body.send {
        color:black;
        background-color: #f1f0f0;
    }
    .chat-mess-body.reply {
        color:white;
        background-color: #4080ff;
    }
    .chat-mess-body p{
        margin:0;
    }

    .chat-mess-body .chat-image {
        max-height: 450px;
        border-radius: 10px;
    }

</style>