<template>
    <div class="modal" id="groupChatModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{langText.GroupChat}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" v-show="!IsCreate()">
                    <table class="table">
                        <tr>
                            <td width="20%">{{langText.SelectAGroup}}</td>
                            <td>
                                <select id="slUserGroup" style="width: 100%;"></select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body" v-show="IsCreate()">
                    <table class="table table-striped">
                        <tr>
                            <td width="20%">{{langText.Name}}</td>
                            <td>
                                <input type="text" class="form-control" v-model="group.Name">
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">{{langText.Description}}</td>
                            <td>
                                <input type="text" class="form-control" v-model="group.Description">
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">{{langText.GroupImage}}</td>
                            <td class="text-center">
                                <img :src="show_image(selectedImage)" class="rounded-circle group-img clickable"
                                     @click="chooseImage" data-toggle="tooltip" :title="langText.ClickChooseGroupImage">
                                <input type="file" id="fileGroupImage" style="display: none" @change="choosedImage">
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">{{langText.GroupMembers}}</td>
                            <td>
                                <select id="slGroupMember" multiple style="width: 100%"></select>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{globalLang.Close}}</button>
                    <button type="button" class="btn btn-primary" v-if="!IsCreate()" @click="doCreate">{{langText.CreateAGroup}}</button>
                    <button type="button" class="btn btn-primary" v-if="!IsCreate()" @click="openGroup">{{globalLang.Open}}</button>

                    <!-- Click when create new group -->
                    <button type="button" class="btn btn-primary" v-if="IsCreate()" @click="createGroup">{{langText.CreateAGroup}}</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    const SELECT2_GROUP = "#slUserGroup";
    const SELECT2_MEMBER = "#slGroupMember";
    const GROUP_MODAL = "#groupChatModal";

    export default {
        name: "GroupChatComponent",
        data() {
            return {
                langText: langText,
                globalLang: globalLang,
                isCreate: false,
                group: {
                    Name: "",
                    Description: "",
                },
                selectedImage: "",
            };
        },
        methods: {
            newGroup() {
                return {
                    Name: "",
                    Description: "",
                }
            },
            IsCreate() {
                return this.isCreate;
            },
            doCreate() {
                this.isCreate = true;
            },
            open() {
                this.isCreate = false;
                this.group = this.newGroup();
                this.selectedImage = "";
                $(SELECT2_GROUP).unsetValueSelect2();
                $(SELECT2_MEMBER).unsetValueSelect2();
                $(GROUP_MODAL).modal('show');
            },
            openGroup() {
                var groupID = $(SELECT2_GROUP).val();
                if (groupID === "") {
                    BeDoneToaster.error(langText.please_choose_a_group);
                    return;
                }

                var self = this;
                BeDoneAjax.get(base_api + "chat/chat_room/group/" + groupID)
                    .done(function (data) {
                        if (data !== null) {
                            if (data.error) {
                                BeDoneToaster.error(data.error);
                            } else {
                                $(GROUP_MODAL).modal('hide');
                                self.$parent.$emit('OpenChat', data.data);
                            }
                        } else {
                            BeDoneToaster.error(globalLang.action_failed);
                        }
                    })
                    .fail(function () {
                        BeDoneToaster.error(globalLang.action_failed);
                    });
            },
            chooseImage() {
                $("#fileGroupImage").val('').click();
            },
            show_image(img) {
                if (img === undefined || img === "") {
                    return base + "img/groups.png";
                } else {
                    return URL.createObjectURL(img);
                }
            },
            choosedImage(e) {
                var file = _.first(e.target.files);

                if (file.type.indexOf("image") < 0)
                {
                    BeDoneToaster.error(globalLang.file_not_allowed);
                    return;
                }

                this.selectedImage = file;
            },
            createGroup() {
                var postData = new FormData();
                postData.append('Name', this.group.Name);
                postData.append('Description', this.group.Description);
                _.each($(SELECT2_MEMBER).val(), function (id) {
                    postData.append('Members[]', id);
                });
                if (this.selectedImage !== "") {
                    postData.append("GroupImage", this.selectedImage);
                }

                var settings = {
                    enctype: 'multipart/form-data',
                    contentType: false,
                    processData: false
                };

                // ok post
                var self = this;
                BeDoneAjax.post(base_api + "chat/chat_room/group", postData, settings)
                    .done(function (data) {
                        if (data !== null) {
                            if (data.error) {
                                BeDoneToaster.error(data.error);
                            } else {
                                $(GROUP_MODAL).modal('hide');
                                self.$parent.$emit('OpenChat', data.data);
                            }
                        } else {
                            BeDoneToaster.error(globalLang.action_failed);
                        }
                    })
                    .fail(function () {
                        BeDoneToaster.error(globalLang.action_failed);
                    });
            }
        },
        mounted() {
            $(SELECT2_GROUP).customSelect2(listGroups);
            $(SELECT2_MEMBER).customSelect2(listUsers);
        }
    }
</script>

<style scoped>
    .group-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 1px solid #cccccc;
    }
</style>