<template>
    <div class="modal" id="oneOnOneModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{langText.ChatOneOnOne}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td width="20%">{{langText.SelectAUser}}</td>
                            <td>
                                <select id="slOneOnOne" style="width: 100%;"></select>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{globalLang.Close}}</button>
                    <button type="button" class="btn btn-primary" @click="create">{{globalLang.Open}}</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OneOnOneComponent",
        data() {
            return {
                langText: langText,
                globalLang: globalLang,
                user_id: null,
            }
        },
        methods: {
            open() {
                this.user_id = null;
                $("#slOneOnOne").val('').trigger('change');
                $("#oneOnOneModal").modal('show');
            },
            create() {
                this.user_id = $("#slOneOnOne").val();
                if (this.user_id === null || this.user_id === "") {
                    BeDoneToaster.error(langText.please_choose_a_user);
                    return;
                }

                // ok query
                var self = this;
                BeDoneAjax.get(base_api + "chat/chat_room/" + this.user_id)
                    .done(function (data) {
                        if (data !== null) {
                            if (data.error) {
                                BeDoneToaster.error(data.error);
                            } else {
                                $("#oneOnOneModal").modal('hide');
                                self.$parent.$emit('OpenChat', data.data);
                            }
                        } else {
                            BeDoneToaster.error(globalLang.action_failed);
                        }
                    })
                    .fail(function () {
                        BeDoneToaster.error(globalLang.action_failed);
                    });
            }
        },
        mounted() {
            $("#slOneOnOne").customSelect2(listUsers);
        }
    }
</script>

<style scoped>

</style>