<template>
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start clickable"
             v-if="isGroupAdmin === true"
             @click="addPeople">
            <div class="media">
                <img :src="base + 'img/add.png'" class="mr-3">
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p class="group-member-name">{{langText.AddPeople}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-for="(mem, index) in members"
           class="list-group-item list-group-item-action flex-column align-items-start group-mem-div">
            <div class="media"
                 style="user-select: none;">
                <img :src="profile_image(mem.ProfileImage)" :alt="mem.FullName"
                     class="mr-3 rounded-circle group-member-avatar">

                <div class="media-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p class="group-member-name">{{mem.FullName}}</p>
                        </div>
                        <div class="col-md-2 text-right" style="padding: 0;">
                            <p class="mem-admin" v-if="mem.IsAdmin === true">{{langText.Admin}}</p>
                            <a :href="'#userCollapse-' + mem.UserID" data-toggle="collapse">
                                <i class="fa fa-ellipsis-h mem-option clickable" v-if="isGroupAdmin === true && CurrentUserID !== mem.UserID"></i>
                            </a>
                        </div>
                        <div class="col-md-12 collapse" :id="'userCollapse-' + mem.UserID">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action list-user-option"
                                   :href="profileURL(mem.UserIDEncrypted)" target="_blank">
                                    {{langText.ViewProfile}}
                                </a>
                                <a class="list-group-item list-group-item-action list-user-option"
                                   href="javascript:void(0)" @click="removeUser(mem, index)">
                                    {{langText.RemoveUserFromGroup}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SidebarGroupMemberComponent",
        data() {
            return {
                langText: langText,
                globalLang: globalLang,
                base: base,
                CurrentUserID: LoggedUserID
            }
        },
        props: ['members', 'group_id', 'isGroupAdmin', 'parentRef'],
        methods: {
            profile_image(img) {
                if (typeof img === "undefined"|| img === ""  || img === null) {
                    return base + "img/default-avatar.png";
                } else {
                    return base + img;
                }
            },
            addPeople() {
                var self = this;
                this.parentRef.AddPeopleComponent.open(this.group_id, function (data) {
                    _.each(data, function (item) {
                        self.members.push(item);
                    });
                });
            },
            profileURL(ID) {
                return base + "UserProfile/" + ID;
            },
            removeUser(mem, index) {
                var self = this;
                BeDoneConfirm.confirm("", () => {
                    var postData= {
                        UserID: mem.UserID
                    };

                    BeDoneAjax.post(base_api + "chat/chat_room/group_member/remove/" + this.group_id, postData)
                        .done(data => {
                            if (data !== null) {
                                if (data.error) {
                                    BeDoneToaster.error(data.error);
                                } else {
                                    // removed user
                                    BeDoneToaster.success(data.success);
                                    self.members.splice(index, 1); // remove user from group
                                }
                            } else {
                                BeDoneToaster.error(globalLang.action_failed);
                            }
                        })
                        .fail(err => {
                            BeDoneToaster.error(globalLang.action_failed);
                        });
                });
            }
        },
    }
</script>

<style scoped>
.group-member-avatar {
    width:32px;
    height:32px;
    object-fit: cover;
}
    .group-member-name {
        padding-top: 7px;
        width: 80%;
        font-size: 14px;
    }

    .group-mem-div .mem-option {
        display: none;
    }
    .group-mem-div:hover .mem-option {
        display: block;
        padding: 10px;
    }

    .group-mem-div .mem-admin {
        display: block;
        font-size: 14px;
        padding-top: 7px;
    }
    .group-mem-div:hover .mem-admin {
        display:none;
    }

    .list-user-option {
        font-size: 14px;
    }

</style>