<template>
    <div>
        <div class="media side-user">
            <img class="mr-3 rounded-circle avatar-border sidebar-user-avatar"
                 :src="profile_image(room.ProfileImage)"
                 :alt="room.Name">
            <div class="media-body">
                <h5 style="margin-top: 5px; margin-bottom: 3px;">{{room.Name}}</h5>
            </div>
        </div>

        <ul class="list-group list-group-flush">

            <li class="list-group-item px-0">
                <a class="group-title" data-toggle="collapse" href="#collapseOptions" role="button" aria-expanded="true" aria-controls="collapseOptions">
                    {{langText.Options}}<span class="mr-3"></span>
                </a>
                <div class="collapse show" id="collapseOptions" style="padding: 10px;">
                    <p class="clickable" @click="archiveMess">
                        {{langText.ArchiveMess}}
                    </p>
                    <!--<p class="color-danger clickable">-->
                        <!--{{langText.DeleteMess}}-->
                    <!--</p>-->
                </div>
            </li>

        </ul>
    </div>
</template>

<script>
    import {MessageHelper} from "../common/helper";

    export default {
        name: "SidebarUserComponent",
        props: ['room'],
        data() {
            return {
                langText: langText
            }
        },
        methods: {
            profile_image(img) {
                if (typeof img === "undefined"|| img === ""  || img === null) {
                    return base + "img/default-avatar.png";
                } else {
                    return base + img;
                }
            },
            archiveMess() {
                var self = this;
                MessageHelper.archiveMess(this.room.ID, function () {
                    self.$parent.$emit('LeaveAndArchive', self.room.ID);
                });
            },
        }
    }
</script>

<style scoped>
    .sidebar-user-avatar {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    .color-danger {
        color: #e74c3c;
    }
</style>