<template>
    <div id="sidebar-group">
        <div class="media side-user">
            <img class="mr-3 rounded-circle avatar-border group-sidebar-avatar clickable"
                 :src="profile_image(room.ProfileImage)"
                 :alt="room.Name"
                 :title="langText.click_change_group_image"
                 data-toggle="tooltip"
                 @click="chooseImage"
                 v-show="room.GroupInfo.IsCurrentAdmin === true">
            <img class="mr-3 rounded-circle avatar-border group-sidebar-avatar"
                 :src="profile_image(room.ProfileImage)"
                 :alt="room.Name"
                 v-show="room.GroupInfo.IsCurrentAdmin === false">
            <div class="media-body">
                <h5 style="margin-top: 5px; margin-bottom: 3px;"
                    v-if="room.GroupInfo.IsCurrentAdmin === false">
                    {{room.Name}}
                </h5>
                <input type="text"
                       class="input-group-name"
                       :title="langText.change_group_name_mess"
                       data-toggle="tooltip"
                       v-if="room.GroupInfo.IsCurrentAdmin === true"
                       @keyup.enter="changeGroupName"
                       :value="room.Name">
            </div>
        </div>

        <ul class="list-group list-group-flush">

            <li class="list-group-item px-0">
                <a class="group-title" data-toggle="collapse" href="#collapseGroupMember" role="button" aria-expanded="true" aria-controls="collapseGroupMember">
                    {{langText.GroupMembers}}<span class="mr-3"></span>
                </a>
                <div class="collapse show" id="collapseGroupMember">
                    <group-member :members="room.GroupInfo.Members"
                                  :group_id="room.GroupInfo.ID"
                                  :is-group-admin="room.GroupInfo.IsCurrentAdmin"
                                  :parentRef="mainref">
                    </group-member>
                </div>
            </li>

            <li class="list-group-item px-0">
                <a class="group-title" data-toggle="collapse" href="#collapseOptions" role="button" aria-expanded="true" aria-controls="collapseOptions">
                    {{langText.Options}}<span class="mr-3"></span>
                </a>
                <div class="collapse show" id="collapseOptions" style="padding: 10px;">
                    <p class="clickable" @click="archiveMess">
                        {{langText.ArchiveMess}}
                    </p>
                    <!--<p class="color-danger clickable">-->
                        <!--{{langText.DeleteMess}}-->
                    <!--</p>-->
                    <p class="color-danger clickable" @click="leaveGroup">
                        {{langText.LeaveGroup}}
                    </p>
                </div>
            </li>

            <input type="file" id="fileChangeGroupImage" style="display: none" @change="doUpdateGroupImage">
        </ul>
    </div>
</template>

<script>
    import GroupMember from './SidebarGroupMemberComponent.vue';
    import {MessageHelper} from "../common/helper";

    export default {
        name: "SidebarUserComponent",
        components: {
            'group-member': GroupMember,
        },
        data(){
            return {
                langText: langText
            }
        },
        props: ['room', 'mainref'],
        methods: {
            profile_image(img) {
                if (typeof img === "undefined"|| img === ""  || img === null) {
                    return base + "img/groups.png";
                } else {
                    return base + img;
                }
            },
            archiveMess() {
                var self = this;
                MessageHelper.archiveMess(this.room.ID, function () {
                    self.$parent.$emit('LeaveAndArchive', self.room.ID);
                });
            },
            leaveGroup() {
                var self = this;
                MessageHelper.leaveGroup(this.room.GroupInfo.ID, function () {
                    self.$parent.$emit('LeaveAndArchive', self.room.ID);
                });
            },
            chooseImage() {
                $("#fileChangeGroupImage").click();
            },
            doUpdateGroupImage(e) {
                var file = _.first(e.target.files);
                if (file.type.indexOf("image") < 0)
                {
                    $("#fileChangeGroupImage").val('');
                    BeDoneToaster.error(globalLang.file_not_allowed);
                    return;
                }

                // update file now
                var postData = new FormData();
                postData.append("GroupImage", file);

                // setting
                var settings = {
                    enctype: 'multipart/form-data',
                    contentType: false,
                    processData: false
                };

                var self = this;
                var group_id = this.room.GroupInfo.ID;
                BeDoneAjax.post(base_api + "chat/chat_room/group_image/" + group_id, postData, settings)
                    .done(function (data) {
                        if (data != null)
                        {
                            if (data.error) {
                                BeDoneToaster.error(data.error);
                            } else {
                                BeDoneToaster.success(data.success);
                                self.room.ProfileImage = data.data;
                            }
                        }
                        else {
                            BeDoneToaster.error(globalLang.action_failed);
                        }
                    })
                    .fail(err => {
                        BeDoneToaster.error(globalLang.action_failed);
                    });
            },
            changeGroupName(e) {
                var postData = {
                    Name: e.target.value
                };

                var self = this;
                var group_id = this.room.GroupInfo.ID;
                BeDoneAjax.post(base_api + "chat/chat_room/group_name/" + group_id, postData)
                    .done(function (data) {
                        if (data != null)
                        {
                            if (data.error) {
                                BeDoneToaster.error(data.error);
                            } else {
                                BeDoneToaster.success(data.success);
                                self.room.Name = data.data;
                            }
                        }
                        else {
                            BeDoneToaster.error(globalLang.action_failed);
                        }
                    })
                    .fail(err => {
                        BeDoneToaster.error(globalLang.action_failed);
                    });
            }
        },
        mounted() {
            $("#sidebar-group [data-toggle='tooltip']").tooltip();
        }
    }
</script>

<style scoped>
    .group-sidebar-avatar {
        width: 60px;
        height: 60px;
        object-fit: cover;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }
    .group-sidebar-avatar:hover {
        opacity: 0.5;
    }
    .color-danger {
        color: #e74c3c;
    }
    .input-group-name {
        width: 100%;
        border: 0;
        padding: 5px;
        font-size: 1.125rem;
    }
    .input-group-name:hover {
        border: 1px solid #cccccc;
        border-radius: 5px;
    }
</style>