@extends('layout.bedone_template')

@section('body_content')
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header bg-primary" style="color:#fff; padding: 20px;">

            </h5>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
@endsection