.img-add
{
    margin-right: 5px;
    width: 120px;
    height: 120px;
    border: 2px #000000 dashed;
    position: relative;
}

.img-add .close
{
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 40%;
}

.img-add img
{
    width: 115px;
    height: 115px;
}


.img-add .close:hover
{
    opacity: 100%;
}

.img-add i
{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.img-list
{
    margin: 0 10px 10px 10px;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}