#partial {
    margin: 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-direction: row;
    height: 85vh;
    visibility: hidden;
}

/* Override the default content for better chat view */
.content {
    padding: 0 !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* buddy list on the left */
.buddy-list {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    color: black;
    flex: 0 0 25%;
    min-width: 200px;
    border-right: 1px solid rgba(0, 0, 0, .20);
}

.buddy-header {
    height: 60px;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
}

/* chat container to the right of the buddy list, contains the main chat, header, and chat info */
.main-container {
    background-color: white;
    flex: 5;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-direction: column;
}

/* chat header, to display chat name above the chat messages */
.chat-header {
    color: black;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    position: relative;
}

.chat-header-right {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #2980b9;
}

/* chat content that holds the chat messages and chat info */
.chat-content {
    flex: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-direction: row;
    position: relative;
    min-height: 0;
}

.middle-box {
    position: absolute;
    top: 40%;
    left: 40%;
}

/* chat container that holds the chat messages and the chat input */
.chat-container {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-direction: column;
    flex: 3;
}

/* side content for chat info, like the people in the chat room */
.side-content {
    color: black;
    flex: 1;
    border-left: 1px solid rgba(0, 0, 0, .20);
}

/* chat message log */
.chat-messages {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* chat input, where you would type to send chat messages */
.chat-input {
    border-top: 1px solid rgba(0, 0, 0, .20);
    color: white;
    padding: 10px;
}

.avatar-border {
    border: 1px solid #cccccc;
}

.media.side-user {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
}


.list-group-item span {
    border: solid #222;
    border-width: 0 1px 1px 0;
    display: inline;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 0;
    margin-top: 10px;
}

.list-group-item a.collapsed span {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: .3s transform ease-in-out;
}


.list-group-item a span {
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    transition: .3s transform ease-in-out;
}

.list-group-item .group-title {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.4);
}